<!--About-->
<div class="maincontect">

  <div class="container">
     <div class="row">
       <div class="col-lg-12">
                 <h1 class="page-header1">Gallery
                </h1>
            </div>           
     </div>
  </div>
</div>
<!--end About-->

    <!-- Services -->

    <div class="cps-section cps-section-padding cps-bottom-0 rowPadngServices sctn1Algn" id="service">
      <div class="container" style="margin-top: 35px;">


      <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-1.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Kannada Rajyotsava Celebration</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-2.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Kannada Rajyotsava Celebration</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-3.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Kannada Rajyotsava Celebration</h4>
           </div>
         </div>
       </div>
     </div> 

     <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-tutorials-3yobqbx.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Class Room</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-tutorials-3j7stwf.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Examination Hall</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-computer-training-institutes-12pqr35.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Awards</h4>
           </div>
         </div>
       </div>
     </div> 

     <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-computer-training-institutes-1ao6584.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Neet Class Room</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-4.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Celebrations</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-computer-training-institutes-2y2i4kq.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">JEE Class Room</h4>
           </div>
         </div>
       </div>
     </div> 

     <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-computer-training-institutes-14inxu5.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Class Room</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-computer-training-institutes-j1m794.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Onam Celebration</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-pai-layout-bangalore-tutorials-374ug0z.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Parents Meeting</h4>
           </div>
         </div>
       </div>
     </div> 


      <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-tutorials-2vajtq4.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Lab</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-tutorials-12dg5g9.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Award</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/atlanta-group-of-institutions-pai-layout-bangalore-tutorials-4a1bvot.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Lab</h4>
           </div>
         </div>
       </div>
     </div> 


      <div class="row rowPadng">
        <div class="cps-services">
         
          <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-5.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Outing</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-6.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Outing</h4>
           </div>
         </div>

         <div class="col-md-4">
           <div class="cps-service style">
            <div class="cps-service-icon sctn1IcnBg wow tada" data-wow-duration="2s">
              <img class="imgAlgnS" src="../../assets/img/gallery/img-7.jpg">
            </div>
            <h4 class="cps-service-title BgSubhdnglight">Outing</h4>
           </div>
         </div>
       </div>
     </div> 
    </div>
  </div>