<header>
  <!-- top-header -->
  <div class="top-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12" >
          <div class="title">
           <div class="bna">  
            <a href="index.html">            
            <img class="img-responsive" src="../../assets/img/BNA1.png" alt="bna1-log"> </a>          
           </div>        
          </div>                   
        </div>  

        <div class="col-md-2">
          <!-- Banner-->
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">
            <!-- Wrapper for slides -->
            <div class="students-scroll carousel-inner">
              <div class="student item active">
                <img src="../../assets/img/gallery/stud1.jpg" alt="Los Angeles" style="width:100%;">
              </div>
        
              <div class="student item">
                <img src="../../assets/img/gallery/stud2.jpg" alt="Chicago" style="width:100%;">
              </div>
            
              <div class="student item">
                <img src="../../assets/img/gallery/stud3.jpg" alt="New york" style="width:100%;">
              </div>
        
               <div class="student item">
                <img src="../../assets/img/gallery/stud4.jpg" alt="New york" style="width:100%;">
              </div>
        
              <div class="student item">
                <img src="../../assets/img/gallery/stud5.jpg" alt="New york" style="width:100%;">
              </div>
            </div>
          </div>
          <!--end banger-->
        </div>

        <div class="col-md-2 col-sm-12">            
          <div class="rated"> 
           <a href="index.html">             
            <img class="img-responsive" src="../../assets/img/web1.png" alt="site-log"> </a>                
          </div>

        </div>

       <div class="col-md-5 col-sm-12">             
          <div class="logo"> 
           <a href="index.html">             
            <img class="img-responsive" src="../../assets/img/Logo Final.png" alt="site-log"> </a>   
          </div>

           <div class="sub-title-name">         
          <img class="img-responsive sub-title-names" src="../../assets/img/Atlanta.png" alt="site-log">  
           </div>               
           <!-- <div class="sub-address">
           HQ: Near Tin Factory, Old Madras Road, <br>Krishnarajapuram, Bengaluru-560016      
           </div> -->         
        </div>
      </div>
    </div>
  </div>

  <!-- end top-header -->

  <!--menu-header -->
    <div class="mneu-header" id="myHeader">
      <div class="container-fluid">
        <div class="row">          
          <div class="col-md-6 col-sm-12">
          <div class="contact">
           Call Now : <i class="fa fa-phone-square"></i>
            988 68 68 628 / 080-28531600
          </div>              
        </div> 
      
        <div class="col-sm-12 col-md-4 right-colcode">
        <div class="strip-inner">              
            <li><a routerLink="home">Home</a></li>
             <li><a routerLink="about">About Us</a></li>
             <li><a routerLink="contact">Reach Us</a></li>
             <li><a routerLink="gallery">Gallery</a></li>
             <li><a routerLink="courses">Courses</a></li>           
        </div>
        </div>

        <div class="col-sm-12 col-md-2 end-colcode">
        <div class="strip-inner">              
             <li><a href="about.html">Online Coaching</a></li>                      
        </div>
        </div>
        </div>
      </div>
    </div>
  <!--end menu-header -->
</header>
<!-- End Header-->