<footer>
  <div class="container-fluid">       
    <div class="row">
      <div class="col-md-2 col-sm-12 footer" >
        <li>NEET</li>
        <li>JEE</li>
        <li>AIIMS</li>            
      </div>

      <div class="col-md-5 col-sm-12 footer2" >
        <li>Highly Experienced, Dedicated and Permanent Faculties</li>
        <li>Full Day Coaching 9:15AM to 7:30PM</li> 
      </div>
      <div class="col-md-5 col-sm-12 footer2" >
        <li>The BEST Result in Previous Examinations</li>
        <li>Well Updated and Advanced Course Materials</li>
        <li>Hostel Facilities for Boys and Girls</li>   
      </div>

    </div>
  </div>
</footer>

<div class="footer1">
  <h4><i class="fa fa-copyright" aria-hidden="true"></i>
2018, MACHLAM Innovations Private Limited.</h4>
<h5>
ATLANTA Group of Institutions,PCMB.IN, BNA and Bengaluru NEET-JEE Academy are trademark and brands,</h5>
<h5>fully owned by MACHLAM Innovations Private Limited.</h5>
</div>