<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header1">Contact Us
                </h1>               
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
               
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.97813774311837!2d77.66624254086182!3d12.994210600559038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdce0c6c27be1ea08!2sATLANTA+Group+of+Institutions!5e0!3m2!1sen!2sin!4v1542112412815" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p><abbr title="Phone">HQ</abbr>:
                   D No-100, 4th Floor, Place On Earth,<br>2nd Main Pai Layout, Old Madras Road,<br> Bangalore - 560016, Karnataka
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: 988 68 68 628 / 080-28531600</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:demo@example.com">pcmb.in@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Saturday: 9:00 AM to 6:00 PM</p>

                <h4>Nearest Railway Station</h4>
                <p>
                   Krishnarajapuram
                </p>

                <h4>Nearest Metro Station</h4>
                <p>
                   Byappanahalli
                </p>

                <h4>Nearest Bus Station</h4>
                <p>
                   Tin Factory or Benniganahalli
                </p>
                    <p>
                       BMTC:310,311,312,313,314,315,316,317,330,333,500,501
                </p>
                     <p>
                   KSRTC-Busroute :Tirupati, Hoskote, Malur, Chintamani, KGF, Mulbagal
                </p>

                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        
        <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                 <form name="sentMessage" id="contactForm" novalidate method="POST" action="contactdetails.php">
                  <div class="row">
                    <div class="control-group form-group col-md-6" >
                        <div class="controls">
                            <label>Name:</label>
                            <input name="fname" type="text" class="form-control" id="fname" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>                      
                    
                    </div>

                    <div class="row">                      

                    <div class="control-group form-group col-md-6">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input name="phone" type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    </div>

                    <div class="row">                      
                    <div class="control-group form-group col-md-6">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input name="email" type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    </div>

                     <div class="row">                      
                    <div class="control-group form-group col-md-6">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea name="message" rows="5" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    </div>
                 
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <hr>
 </div>