 <!-- Banner-->
 <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

 
  <div class="carousel-inner">
    <div class="item active">
      <img src="../../assets/img/Banner-1.png" alt="Los Angeles" style="width:100%;">

    </div>

    <div class="item">
      <img src="../../assets/img/Banner-2.jpg" alt="Chicago" style="width:100%;">
    </div>
  
    <div class="item">
      <img src="../../assets/img/Banner-3.jpg" alt="New york" style="width:100%;">
    </div>

     <div class="item">
      <img src="../../assets/img/Banner-4.jpg" alt="New york" style="width:100%;">
    </div>
  </div> -->

  <!-- Left and right controls -->
  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<!--end banger-->


<!--About-->
<div class="maincontect">

<div class="container">
   <div class="row">
     <div class="col-lg-12">
               <h1 class="page-header1">About Us
              </h1>
          </div>

    <div class="col-md-6">
      <img class="institutions" src="../../assets/img/gallery/atlanta-group-of-institutions-krishnarajapuram-bangalore-tutorials-246y5sr.jpg" alt="Chicago" style="width:100%; padding-bottom: 10px">
    </div>
    <div class="col-md-6">
     Established by young and dynamic educationalist professional and technocrats a decade ago, Bengaluru NEET Academy is one of the premium institutions in South India, providing dedicated coaching for NEET/JEE and other prominent medical and engineering exams and the board examinations. From the humble beginning in 2007 BNA posted a consistent growth throughout the decade. The crust and trough of the seasons were the real challenge for the growth of the organization however the quality the dedication and the commitment the team has exhibited retained BNA as the leader. BNA became part of MACHLAM Innovations Pvt. Ltd., a leading joint stock technology company based at Bengaluru, in 2017.
    </div>
          
   </div>

</div>
</div>
<!--end About-->



  <div class="cps-section cps-section-padding cps-bottom-0 rowPadngServices sctn1Algn" id="service">
    <div class="container" style="margin-top: 35px;">
     <div class="row rowPadng">
      <div class="cps-services">
       <div class="col-md-4">
         <div class="cps-service style-5">
          <div class="cps-service-icon">
            <img class="imgAlgnS3" src="../../assets/img/M1.jpg">
          </div>
          <h4 class="cps-service-title lghtBgSubhdng">Hannah Samon  </h4>
          <p class="cps-service-text">Managing Director</p>
          
         </div>
       </div>

        <div class="col-md-4">
         <div class="cps-service style-5">
          <div class="cps-service-icon">
            <img class="imgAlgnS3" src="../../assets/img/M2.jpg">
          </div>
          <h4 class="cps-service-title lghtBgSubhdng">Praveen Prasad </h4>
           <p class="cps-service-text"> Executive Director</p>            
         </div>
       </div>

        <div class="col-md-4">
         <div class="cps-service style-5">
          <div class="cps-service-icon">
            <img class="imgAlgnS3" src="../../assets/img/M3.jpg">
          </div>
          <h4 class="cps-service-title lghtBgSubhdng">Lavanya Krishna Gowda </h4>
            <p class="cps-service-text">Director</p>
            
         </div>
       </div>
     </div>
   </div>


   <div class="row rowPadng">
      <div class="cps-services">
       <div class="col-md-4">
         <div class="cps-service style-5">
          <div class="cps-service-icon">
            <img class="imgAlgnS3" src="../../assets/img/M4.jpg">
          </div>
          <h4 class="cps-service-title lghtBgSubhdng">Mounika Munisivaiah  </h4>
          <p class="cps-service-text">Director</p>          
         </div>
       </div>

        <div class="col-md-4">
         <div class="cps-service style-5">
          <div class="cps-service-icon">
            <img class="imgAlgnS3" src="../../assets/img/M5.jpg">
          </div>
          <h4 class="cps-service-title lghtBgSubhdng">Chandrika Venkatachalam </h4>
           <p class="cps-service-text">Director</p>            
         </div>
       </div>
     </div>
   </div> 
  </div>
</div>