	
<div class="maincontect">
  <div class="container-fluid">
    <div class="row contect-main"> 
      <div class="col-md-2">
        <div class="left-slider">         
         <div class="top-category sidebar">
              <h1 class="page-header">
                Updates & Events
              </h1>      
          </div>

          <div class="slider-box1">
            <img class="img-responsive" src="../../assets/img/ATLANTAGROUP website-4th page.jpg" alt="">
            </div>

        

  <!-- Banner-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/img/Banner-1.png" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="../../assets/img/Banner-2.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="../../assets/img/Banner-3.jpg" alt="New york" style="width:100%;">
      </div>

       <div class="item">
        <img src="../../assets/img/Banner-4.jpg" alt="New york" style="width:100%;">
      </div>
    </div>
  </div>
  <!--end banger-->    

  <div class="slider-box-left">
    <img class="img-responsive" src="../../assets/img/quickcourse.png" alt="">
    </div>

  <!-- <div class="slider-box">
    <u>Quick View of Courses</u>
      <li>NEET - JEE 2019 Long Term</li>
      <li>NEET - JEE 2019 CRASH one month</li>
      <li>NEET - JEE 2020 Long Term</li>
      <li>KARNATAKA PU2 / XII CBSE ISE</li>
      <li>KARNATAKA PU1 / XI CBSE ISE</li>
      <li>KARNATAKA SSLC / X CBSE ICSE</li>
      <li>CBSE ICSE V to X Standard</li>
      <li>DIAMOND TRACK one to one Coaching</li>

      <h5>for more details, Call NOW:</h5>
      <div class="more-details">
       9886868628, 8792833516 
    </div>
  </div> -->
        </div>
      </div>


      <div class="col-md-8">
        <div class="product-tap">
          <!-- <h3>Tough Quesion.., Simple 
          Solutions..</h3> 
          <img  class="img-product" src="img/Simple Solutions.png">-->
            <div class="top-category sidebar">
              <h1 class="page-header">
                Premium Courses Offered
              </h1>      
            </div>

         <div class="tab-content">
          <div class="row">
             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                  NEET JEE 2019 Long Term                   
                </div>

                <div class="img-container">         
                  <img  class="product-img" src="../../assets/img/neet1.jpg">   
                </div>

                <div class="deal-content-sec">
                    <p>The most dedicated ADVANCED 3LEVEL One year COACHING for NEET-JEE 2019 April-May examinations, handled by highly experienced professors, having proven track record for the past 20+ years. </p>     
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
          
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                    NEET JEE 2019 Crash
                </div>

                <div class="img-container">           
                  <img  class="product-img" src="../../assets/img/jee1.jpg">   
                </div>

                <div class="deal-content-sec1">       
                    <p>The most dedicated ADVANCED 3LEVEL One month
 COACHING for NEET-JEE 2019 April-May examinations, handled by highly ex-perienced professors, having proven track record for the past 20+ years.
</p>     
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
               
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                 PU1 - PU-2 - XII Board 2019
                </div>

                <div class="img-container">           
                  <img  class="product-img" src="../../assets/img/board coaching.jpg">   
                </div>

                <div class="deal-content-sec2">                           
                    <p>The most dedicated ADVANCED 3LEVEL One year COACHING for CBSE ISC STATE Board examinations, 2019 March, handled by highly experienced professors.Classes close on 28th February 2019. 
                    </p>    
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
            
                </div>
              </div>
            </div>
          </div>


          <div class="row">
             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                    NEET JEE 2020 Long Term
                   
                </div>

                <div class="img-container">                 
                  <img  class="product-img" src="../../assets/img/jee2.jpg">   
                </div>

                <div class="deal-content-sec3"> 
                    <p>The most dedicated ADVANCED 3LEVEL One year  COACHING for NEET-JEE 2019 April-May examinations, handled by highly experienced professors, having proven track record for the past 20+ years.</p>     
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
                 
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                    PU-2 - XII 2020 Board 
                </div>

                <div class="img-container">          
                  <img  class="product-img" src="../../assets/img/cbse.jpeg">   
                </div>

                <div class="deal-content-sec4">
                    <p>The most dedicated ADVANCED 3LEVEL One year COACHING for CBSE ISC STATE Board examinations,  2019 March, handled by highly experienced professors. </p>     
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
               
                </div>
              </div>
            </div>

             <div class="col-md-4">
              <div class="product">
                <div class="title-sec">
                  NEET IIT JEE Foundation     
                </div>

                <div class="img-container">           
                  <img  class="product-img" src="../../assets/img/cbse2.jpg">   
                </div>

                <div class="deal-content-sec5">
                    <p>Advances level foundation program for children up to 10th standards. Wide cov-erage of foundation curriculum, Physics, Chemistry, Mathematics, Biology.
Weekend / Vacation batches </p>    
                    <a routerLink="/courses" target="_blank" class="ct-visit">Learn More..</a>
               
                </div>
              </div>
            </div>
          </div>
         
<!--NEW Column ekkada ROW cheyali-->      
    </div>    
</div>
</div>
    
     <div class="col-md-2">
        <div class="left-slider">         
         <div class="top-category sidebar">
              <h1 class="page-header">
                We Care...
              </h1>      
          </div>
         <div class="slider-box-right">
          <img class="img-responsive" src="../../assets/img/wecare.jpg" alt="">
          </div>
        </div>

        <div class="other-courses">
          <u>
            Other courses from the group
          </u>
        </div>
      </div>

</div>
</div> 
</div>
