<div class="maincontect">

  <div class="container">
     <div class="row">
       <div class="col-lg-12">
                 <h1 class="page-header1">Premium 
                    Courses Offered
                </h1>
            </div>            
     </div>

     <div class="row projects">
        <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="col-sm-12 well">
          <div class="folio-item">
          <div class="folio-image col-lg-3 wow fadeInUp" data-wow-duration="2s">
          <img class="img-responsive" src="../../assets/img/neet1.jpg" alt="">
          </div>
      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">NEET JEE 2019 long term - One year</h3>
      <p class="detail_data">The most dedicated ADVANCED 3LEVEL One year COACHING for NEET-JEE 2019 April-May examinations, handled by highly experienced professors, having proven track record for the past 20+ years.Classes upto 2019 April 30th. Full day coaching, MON to SAT 9:15AM to 7:30PM for repeat students and Evening 6:00-7:30 for school going students. Well updated 2019 course material. 24 hours faculty support, 7 days a week. Evening and weekend classes for school going students. Daily practice tests and doubt clearance sessions.</p>    
    
    <p class="fee-structure">
      NEET-JEE model exams every Sunday.<br>
      Hostel facility for outstation students.
      Regular / Repeat student batches.<br>
      Course Fee: Rs. 56000/- + GST with effect from 1st November 2018.</p>
   </div>
   </div>
    </div>
        </div>
    </div>


     <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/jee1.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">NEET JEE 2019 Crash - One month</h3>
       <p class="detail_data">The most dedicated ADVANCED 3LEVEL One month COACHING for NEET-JEE 2019 April-May examinations, handled by highly ex-perienced professors, having proven track record for the past 20+ years.Batches start for Classes upto 2019 April 30th. Batches start from 22nd March 2019. Full day coaching, MON to SAT 9:15AM to 5:30PM. Well updated 2019 course material. 24 hours faculty support, 7 days a week. Daily practice tests and doubt clearance sessions</p>  
          
      <p class="fee-structure">NEET-JEE model exams every Sunday.<br>
      Hostel facility for outstation students.<br>
      Course Fee: Rs. 28000/- with effect from 1st November 2018.<br>
      Early Bird offer: Only Rs. 21000/- + GST for admissions up to 15th December.</p>
                            </div>

                    </div>
                </div>
            </div>
        </div>

    <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                <div class="folio-item">
                <div class="folio-image col-lg-3">
                 
              <img class="img-responsive" src="../../assets/img/board coaching.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9">
        <h3 class="home_detail_title">PU1 PU2 XII 2019 Board - One year</h3>
        <p class="detail_data">

The most dedicated ADVANCED 3LEVEL One year COACHING for CBSE ISC STATE Board examinations, 2019 March, handled by highly experienced professors.Classes close on 28th February 2019.Complete portion coverage, 100% as-sured results. Full day (for repeaters), evening and weekend batches. Wide coverage of all subjects. </p>
                                
        <p class="fee-structure">Science and Commerce stream. 5000+ model questions discussed.<br>

      Course Fee: Rs. 28000/- + GST with effect from 1st November 2018.</p>
        </div>

        </div>
                </div>
            </div>
        </div>

         <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/jee2.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9">
        <h3 class="home_detail_title">NEET JEE 2020 Long Term - One year</h3>

        <p class="detail_data">The most dedicated ADVANCED 3LEVEL One year COACHING for NEET-JEE 2019 April-May examinations, handled by highly experienced professors, having proven track record for the past 20+ years.Classes upto 2019 April 30th. Full day coaching, MON to SAT 9:15AM to 7:30PM for repeat students and Evening 6:00-7:30 for school going students. Well updated 2020 course material. 24 hours faculty support, 7 days a week. Evening and weekend classes for school going students. Daily practice tests and doubt clearance sessions. </p>
        
        <p class="fee-structure">Hostel facility for outstation students.<br>
        Regular / Weekend / Repeat batches.<br>
        Course Fee: Rs. 96000/- + GSTwith effect from 1st November 2018.</p>
                         
        </div>
        </div>
        </div>
        </div>
        </div>

         <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/cbse.jpeg" alt="">
                        </div>

                            <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">PU1 PU2 XII 2020 Board - One year</h3>
                                
    <p class="detail_data">The most dedicated ADVANCED 3LEVEL One year COACHING for CBSE ISC STATE Board examinations, 2019 March, handled by highly experienced professors.Classes close on 28th February 2019. Complete portion coverage, 100% as-sured results. Full day (for repeaters), evening and weekend batches. Wide coverage of all subjects. </p>
                                
        <p class="fee-structure">Science and Commerce stream. <br>5000+ model questions discussed.

Regular / Weekend / Repeat batches.<br>
Course Fee: Rs. 46000/- + GST with effect from 1st November 2018.
</p>
     </div>
      </div>
      </div>
            </div>
        </div>

         <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/cbse2.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">PU1 PU2 XII 2020 Board CRASH - Two month vacation</h3>
                               
       <p class="detail_data">The most dedicated ADVANCED 3LEVEL COACHING for CBSE ISC STATE Board examinations,  2019 March, handled by highly experienced professors.Classes close on 28th February 2019. Complete portion coverage, 100% as-sured results. Full day (for repeaters), evening and weekend batches. Wide coverage of all subjects. </p>  
      
       <p class="fee-structure">Science and Commerce stream.<br> 5000+ model questions discussed.
        <br>
      Course Fee: Rs. 26000/- + GST with effect from 1st November 2018.</p>
                            </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image1 col-lg-3">
                            <img class="img-responsive" src="../../assets/img/NEET-JEE.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">NEET JEE Foundation - One year</h3>
                               
       <p class="detail_data">Advances level foundation program for children up to 10th standards. Wide cov-erage of foundation curriculum, Physics, Chemistry, Mathematics, Biology.
        Weekend / Vacation batches. </p>  
      
      </div>
      </div>
      </div>
      </div>
      </div>

        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/ICSE.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">ICSE IGCSE CBSE STATE X Board - One year</h3>
                               
       <p class="detail_data">The most dedicated ADVANCED 3LEVEL COACHING for CBSE ISC STATE Board examinations,  2019 / 2020 March, handled by highly experienced professors. Classes close on 15th February 2019. Complete portion coverage, 100% assured results. Full day (for repeaters), evening and weekend batches. Wide coverage of all subjects. Science and Commerce stream. </p>  
      
       <p class="fee-structure">As per board guidelines.
        Regular / Weekend batches.<br>
        Course Fee: 
        Rs. 28000/- + GST with effect from 1st November 2018 for 2019 exams.
        Rs. 48000/- + GST with effect from 1st November 2018 for 2020 exams.
        </p>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image col-lg-3">
                            <img class="img-responsive" src="../../assets/img/IGCSE.png" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">ICSE IGCSE CBSE STATE coaching up to IX standard - One year</h3>
                               
       <p class="detail_data">Well structured coaching for school going children, of all above streams. The coaching makes the best focused children in the respective classes and subjects. Handled by one of the best set of experience professors in Bengaluru, this is rated as the most premium coaching in the school segment. Coaching available for all subjects.</p>  
      
       <p class="fee-structure">Regular / Weekend batches.
        <br>
        Course fee: Rs. 26000/- to Rs. 48000/- + GST
        </p>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image1 col-lg-3">
                            <img class="img-responsive" src="../../assets/img/Secondary.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">Secondary (X) / Senior Secondary (XII) Regular courses - One year / Six months</h3>
                               
       <p class="detail_data">Regular full day program for students who discontinued in regular schools and want to continue studies outside. Science, Commerce and Art streams.</p>  
      
       <p class="fee-structure">
      Course fee: Rs. 36000/- to Rs. 58000/-</p>
                            </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image1 col-lg-3">
                            <img class="img-responsive" src="../../assets/img/ONE.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">One to One Special track coaching</h3>
                               
       <p class="detail_data">One teacher to One student, individual special attention coaching. Available for all subjects in science and commerce stream.
        It's a result assure programs.
        </p>  
      
       <p class="fee-structure">
      Course fee: Rs. 18000/- to Rs. 24000/- per subject.</p>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-12 wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 well">
                    <div class="folio-item">
                        <div class="folio-image1 col-lg-3">
                            <img class="img-responsive" src="../../assets/img/engineering.jpg" alt="">
                        </div>

      <div class="home_detail_content col-lg-9"><h3 class="home_detail_title">Engineering coaching - 4 months</h3>
                               
       <p class="detail_data">Dedicated coaching for all semester and all subjects of VTU engineering subjects.</p>  
      
       <p class="fee-structure">Science and Commerce stream.<br> 5000+ model questions discussed.
        <br>
      Course Fee: Rs. 26000/- + GST with effect from 1st November 2018.</p>
                            </div>

                    </div>
                </div>
            </div>
          </div>
  </div>
</div>
<!--end About-->